*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

h1,h2,h3,h4,h5,h6,p,span,li,button,a{
  font-family: "Outfit", sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}
